                    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
                    * {
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        font-family: Raleway;
                        box-sizing: border-box;
                        color: #000000;
                    }
                    
                    h1 {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                    }
                    
                    .slogan {
                        font-weight: 400;
                        margin-top: 10px;
                    }
                    
                    .mainContainer {
                        max-width: 1400px;
                        margin: auto;
                        padding: 0 50px;
                    }
                    
                    header {
                        display: flex;
                        justify-content: space-between;
                        height: 88px;
                        align-items: center;
                        margin-bottom: 30px;
                    }
                    
                    .logo {
                        width: 61px;
                        height: 19px;
                    }
                    
                    .navTop {
                        height: 100%;
                    }
                    
                    .navTop ul {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                    
                    .navTop a {
                        display: block;
                        color: #000000;
                        padding: 34px;
                        font-weight: 500;
                    }
                    
                    .navTop a:hover {
                        border-top: 4px #0065FC solid;
                        padding-top: 30px;
                        color: #0065FC;
                    }
                    
                    .search {
                        display: flex;
                        margin: 20px 0 40px 0;
                    }
                    
                    .searchbtn {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 0 15px 15px 0;
                        background-color: #0065fc;
                        color: #fff;
                        font-size: 16px;
                        cursor: pointer;
                    }
                    
                    .searchbtnmobile {
                        display: none;
                    }
                    
                    input[type="search"] {
                        width: 350px;
                        border: 1px solid #f2f2f2;
                        border-left: none;
                        border-right: none;
                        padding: 10px 20px;
                        box-shadow: none;
                        margin: 0;
                        font-size: 16px;
                    }
                    
                    .fa-map-marker-alt {
                        padding: 18px;
                        background-color: #f2f2f2;
                        border-radius: 15px 0 0 15px;
                        color: black;
                        font-size: 18px;
                    }
                    
                    .fa,
                    .fas {
                        font-weight: 900;
                    }
                    
                    .filters {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 40px;
                        align-items: center;
                        font-weight: 700;
                    }
                    
                    .filters ul {
                        display: flex;
                        font-size: 17px;
                        flex-wrap: wrap;
                        row-gap: 10px;
                    }
                    
                    .filtersBtn {
                        border: #F2F2F2 2px solid;
                        display: block;
                        padding: 10px;
                        border-radius: 20px;
                        margin: 0 20px 0 0;
                        min-width: none;
                    }
                    
                    .filtersBtn:hover {
                        background-color: #DEEBFF;
                    }
                    
                    .filters span {
                        font-size: 18px;
                        margin: 0 20px 0 0;
                    }
                    
                    .filtersBtn i {
                        color: #0065FC;
                        padding: 0 8px 0 0;
                    }
                    
                    .info i {
                        display: inline-block;
                        border: 1px gray solid;
                        border-radius: 50%;
                        padding: 5px 10px;
                        color: #0065FC;
                        margin: 0 5px 0 0;
                    }
                    
                    main {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 20px 0 0 0;
                    }
                    
                    .accommodation {
                        background-color: #F2F2F2;
                        border-radius: 20px;
                        padding: 30px;
                        width: 65%;
                    }
                    
                    .moreButton {
                        font-weight: 700;
                    }
                    
                    .accommodationList {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        margin: 20px 0px;
                        justify-content: space-between;
                    }
                    
                    .hotelCard {
                        cursor: pointer;
                        min-width: 30%;
                        max-width: 30%;
                        min-height: 199px;
                        background-color: #fff;
                        border-radius: 20px;
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    }
                    
                    .hotelImg {
                        overflow: hidden;
                        border: solid 5px #fff;
                        border-radius: 20px 20px 0 0;
                    }
                    
                    .hotelImg img {
                        height: 124px;
                        width: 100%;
                        object-fit: cover;
                    }
                    
                    .hotelinfo {
                        padding: 0 0 0 10px;
                        font-size: 14px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    
                    .hotelinfo span {
                        font-size: 14px;
                    }
                    
                    .hotelinfo h3 {
                        font-size: 16px;
                    }
                    
                    .hotelStars i {
                        font-size: 13px;
                        color: #0065FC;
                    }
                    
                    i.grayStar {
                        color: #F2F2F2;
                    }
                    
                    .popAccommodation {
                        width: 30%;
                        background-color: #F2F2F2;
                        border-radius: 20px;
                        padding: 30px;
                    }
                    
                    .popAccommodationList {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        margin-top: 20px;
                    }
                    
                    .popAccommodation h2 {
                        position: relative;
                    }
                    
                    .fa-chart-line {
                        color: #0065FC;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                    }
                    
                    .popAccommodationListItem {
                        max-width: 343px;
                        height: 143px;
                        background-color: #ffffff;
                        border-radius: 20px;
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    }
                    
                    .popAccommodationListItem a {
                        display: flex;
                    }
                    
                    .popHotelImg {
                        max-width: 50%;
                        min-width: 50%;
                    }
                    
                    .popHotelImg img {
                        width: 100%;
                        height: 143px;
                        object-fit: cover;
                        border-radius: 20px 0 0 20px;
                        border: #ffffff solid 5px;
                    }
                    
                    .popHotelinfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;
                    }
                    
                    .popHotelinfo h3 {
                        margin: 0 0 5px 0
                    }
                    
                    .activites {
                        margin: 30px 0;
                    }
                    
                    .activitiesList {
                        display: flex;
                        gap: 20px;
                        margin: 20px 0 0 0;
                        justify-content: space-between;
                    }
                    
                    .activitiesList li {
                        width: 302px;
                        height: 444px;
                        overflow: hidden;
                        background-color: #fff;
                        border-radius: 20px;
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    }
                    
                    .activitiesList li a img {
                        height: 388px;
                        width: 302px;
                        object-fit: cover;
                    }
                    
                    .activitiesList h3 {
                        padding: 14px;
                    }
                    
                    footer {
                        line-height: 25px;
                        display: flex;
                        gap: 10%;
                        height: 225px;
                        width: 100%;
                        background-color: #F2F2F2;
                        padding: 50px 80px;
                    }
                    
                    footer h4 {
                        margin-bottom: 8px;
                    }
                    
                    h3 {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    
                    h2 {
                        font-size: 22px;
                    }
                    
                    @media (max-width: 767px) {
                        .searchbtn {
                            display: none;
                        }
                        .searchbtnmobile {
                            padding: 10px 15px;
                            background-color: #0065FC;
                            border-radius: 0px 15px 15px 0px;
                            font-size: 18px;
                            border: none;
                            display: block;
                        }
                        .searchbtnmobile i {
                            color: white;
                        }
                        .moreButton {
                            display: none;
                        }
                        .mainContainer {
                            padding: 0px;
                        }
                        header {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 88px;
                            width: 100%;
                            margin-bottom: 30px;
                            margin-top: 20px;
                        }
                        .sloganSearch {
                            padding: 0 20px;
                        }
                        .navTop {
                            width: 100%;
                        }
                        .navTop li {
                            text-align: center;
                            min-width: 50%;
                        }
                        .navTop a {
                            min-width: 50%;
                        }
                        .navTop a:hover {
                            border-top: none;
                            border-bottom: 4px #0065FC solid;
                            padding: 20px 0px;
                            color: #0065FC;
                        }
                        main {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin: 0 auto;
                        }
                        .accommodation {
                            background-color: #fff;
                            border-radius: 0px;
                            padding: 30px 20px;
                            margin-top: 20px;
                            width: 100%;
                        }
                        .hotelCard {
                            min-width: 100%;
                            height: 199px;
                            background-color: #fff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .popAccommodation {
                            width: 100%;
                            background-color: #F2F2F2;
                            border-radius: 0px;
                            padding: 30px 20px;
                            order: -1;
                            margin-top: 20px;
                        }
                        .popAccommodationListItem {
                            min-width: 100%;
                            height: 143px;
                            background-color: #ffffff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .filters {
                            width: 100%;
                            padding: 0 20px;
                        }
                        .filters ul {
                            margin-top: 10px;
                            width: 100%;
                            justify-content: space-between;
                            align-content: space-between;
                            row-gap: 15px;
                            column-gap: 0px;
                        }
                        .filters ul li {
                            min-width: calc(45% + 10px);
                            max-width: 50%;
                            font-size: 11px;
                        }
                        .filtersBtn i {
                            font-size: 16px;
                        }
                        .filtersBtn {
                            border: #F2F2F2 2px solid;
                            display: block;
                            padding: 15px 8px;
                            border-radius: 30px;
                            margin: 0 0px 0 0;
                        }
                        .info {
                            display: block;
                            padding: 0 15px;
                        }
                        .activites {
                            padding: 0 20px;
                        }
                        .activitiesList {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            margin: 20px 0 0 0;
                            justify-content: space-between;
                        }
                        .activitiesList li {
                            width: 100%;
                            height: 190px;
                            overflow: hidden;
                            background-color: #fff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .activitiesList li a img {
                            height: 134px;
                            width: 100%;
                            object-fit: cover;
                        }
                        footer {
                            line-height: 25px;
                            display: flex;
                            flex-direction: column;
                            gap: 10%;
                            height: 500px;
                            width: 100%;
                            background-color: #F2F2F2;
                            padding: 50px 20px;
                        }
                    }
                    
                    @media (min-width: 768px) and (max-width: 1024px) {
                        main {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin: 0 auto;
                        }
                        .accommodation {
                            padding: 20px;
                            margin-top: 20px;
                            width: 100%;
                        }
                        .accommodationList {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            margin: 20px 0px;
                            justify-content: space-between;
                        }
                        .hotelCard {
                            cursor: pointer;
                            min-width: 31%;
                            min-height: 180px;
                            background-color: #fff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .hotelImg img {
                            height: 110px;
                            width: 100%;
                            object-fit: cover;
                        }
                        .popAccommodation {
                            font-size: 14px;
                            margin: 30px 0 0 0;
                            width: 100%;
                            background-color: #F2F2F2;
                            border-radius: 20px;
                            padding: 20px;
                        }
                        .popAccommodationList {
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            margin-top: 20px;
                        }
                        .popHotelinfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 10px 10px 10px 0px;
                        }
                        .popAccommodationListItem {
                            min-width: 30%;
                            height: 143px;
                            background-color: #ffffff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .popHotelImg {
                            min-width: 45%;
                            max-width: 45%;
                            !important
                        }
                        .popHotelImg img {
                            width: 100%;
                            height: 143px;
                            object-fit: cover;
                            border-radius: 20px 0 0 20px;
                            border: #ffffff solid 5px;
                        }
                        .activitiesList li {
                            width: 302px;
                            height: 267px;
                            overflow: hidden;
                            background-color: #fff;
                            border-radius: 20px;
                            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        }
                        .activitiesList li a img {
                            height: 210px;
                            width: 302px;
                            object-fit: cover;
                        }
                        .activitiesList h3 {
                            padding: 5px 15px;
                        }
                        .activitiesList li:nth-child(1) h3 {
                            padding-top: 15px;
                        }
                        .activitiesList li:nth-child(2) h3 {
                            padding-top: 5px;
                        }
                    }